<%= simple_form_for(event) do |f| %>
    <% if event.errors.any? %>



          <% event.errors.full_messages.each do |message| %>

              <div class="alert alert-alert">
                <li><%= message %></li>
              </div>


          <% end %>
        </ul>

    <% end %>


    <% if f.error_notification.present? %>
        <div class="alert alert-alert">
          <%= f.error_notification %>
        </div>

    <% end %>

    <div class="form-group has-success has-feedback">
      <div class="field">
        <%= f.label :place %>
        <%= f.text_field :place %>
      </div>
      <%= f.label :start_time %>
      <div class="field">

        <%= f.datetime_select :time %>
      </div>
      <%= f.label :end_time %>
      <div class="field">

        <%= f.datetime_select :end_time %>
      </div>
      <%= f.label :description %>
      <div class="field">

        <%= f.text_area :description %>
      </div>


      <div class="actions">
        <%= f.button :submit, "Create", class: "btn btn-primary btn-sm" %>

      </div>
    </div>

<% end %>

